/* == TAG STYLING == */

body { font-size: 100%; }
p { padding: $dist; margin: $dist; display: block; color: #bada55; font-size: $dist; }
h1 { font-size: $dist; height: 4em; background: lightgrey; width: $dist; }